body {
  background-color: rgba(80, 90, 20, 0.7); }

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -3; }

.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 60%;
  max-width: 300px; }

img#logo {
  display: block;
  width: 100%; }

div.social-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  width: 90%; }
  div.social-container div {
    height: 45px;
    width: 45px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.5s ease; }
    div.social-container div * {
      position: relative;
      top: 10px;
      left: 1px; }
    div.social-container div:hover {
      background-color: rgba(0, 0, 0, 0.6); }
