@import 'common';

.wrapper {
  @include wrapper(60%, 400px, 5%);
  @extend %text-standard;

  img#logo {
    @include img-scale(100%);
  }

  div.social-container {
    margin: 10px auto auto;
    width: 90%;

    div {
      height: 45px;
      width: 100%;

      border-radius: 30px;

      border: solid 1px white;

      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
      font-size: 1.2em;

      cursor: pointer;

      * {
        margin: 8px auto auto;
        background-color: transparent !important;
        border: none !important;
      }

      transition: background-color 0.5s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }

    }
  }
}
